# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
# Do not ignore .obj in the resource folder, those are models 
!res/*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
 

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Folders  
Debug/
vic/x64/ 
vic/Debug/
vic/vic.vcxproj.user
x64/
.vs/
packages/